<div class="w3-container" style="height: 100%; display: flex; flex-direction: column;">
    <div style="background-color: aliceblue; flex-basis: 80px; padding-top: 8px;">
        <label>
            <b>Wilayah:</b>
        </label>
        <select class="w3-input w3-border w3-select" ng-options="o for o in wilayah" ng-model="wilayahSelected"
            ng-change="eventChangeWilayah()"></select>
    </div>
    <div style="background-color: antiquewhite; flex: 1; overflow: scroll; overflow-x: hidden;">
        <b>Daftar Area:</b>
        <div class="w3-bar" style="padding-top: 8px; display: flex;" ng-repeat="_area in area track by $index">
            <span class="w3-bar-item w3-button w3-left-align w3-blue w3-padding-small" style="flex: 4;" ng-mouseover="highlightArea($index)"
                ng-mouseleave="removeHighlightArea()" ng-init="editStatus=false" ng-hide="editStatus">{{_area.properties.name}}</span>
            <button class="w3-bar-item w3-button w3-teal w3-padding-small" style="flex: 1;" ng-hide="editStatus"
                ng-click="editStatus=true; areaName=_area.properties.name;">Edit</button>
            <input class="w3-bar-item w3-input w3-border w3-padding-small" type="text" style="flex: 4;" ng-show="editStatus"
                ng-model="areaName">
            <button class="w3-bar-item w3-button w3-teal w3-padding-small" style="flex: 1;" ng-init="editStatus=false"
                ng-show="editStatus" ng-click="updateAreaName($index, areaName); editStatus=false;">Simpan</button>
            <button class="w3-bar-item w3-button w3-teal w3-padding-small" style="flex: 1;" ng-click="removeArea($index)">Hapus</button>
        </div>
    </div>
    <div style="background-color: aquamarine; flex-basis: 30px;">simpan</div>
</div>