<div style="height: 100%; display: flex; flex-direction: column;">
    <div style="flex: 1; position: relative;">
        <div style="height: 100%; width: 500px; position: absolute; left: 60px;">
            <img src="/img/logo-bmkg.png" style="height: 60px; position: absolute; transform: translate(0, -50%); top: 50%;">
            <div style="position: absolute; background-color: black; width: 3px; height: 60px; transform: translate(0, -50%); top: 50%; left: 60px;"></div>
            <h1 style="position: absolute; transform: translate(0, -100%); top: 50%; left: 75px;">Sistem Monitoring</h1>
            <h3 style="position: absolute; transform: translate(0, -100%); top: 80%; left: 75px;">
                Infomet Nelayan Sederhana
            </h3>
        </div>
    </div>
    <div style="flex-basis: 30px; background-color: #0C3259; padding: 0 0 0 20px; color: white;">
        <div class="w3-bar">
            <a href="#!monitoring" class="w3-bar-item w3-button w3-padding-small" ng-style="{ backgroundColor: $location.path() === '/monitoring'? '#299C4C': '' }">
                Monitoring
            </a>
            <a href="#/!" class="w3-bar-item w3-button w3-padding-small" ng-style="{ backgroundColor: $location.path() === '/'? '#299C4C': '' }">
                Wilayah
            </a>
            <a href="#!infomet" class="w3-bar-item w3-button w3-padding-small" ng-style="{ backgroundColor: $location.path() === '/infomet'? '#299C4C': '' }">
                Infomet
            </a>
            <a href="#!data-logger" class="w3-bar-item w3-button w3-padding-small" ng-style="{ backgroundColor: $location.path() === '/data-logger'? '#299C4C': '' }">
                Data Logger
            </a>
        </div>
    </div>
    <div style="flex-basis: 8px; background-color: #299C4C;"></div>
</div>